<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<nav class="navbar navbar-expand-md overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey fixed w-100">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none navbar-brand">
		<img src="/img/logo.svg" alt="Kaldi logo" class="br0 db mb0 w-100" height="32"/>
	</a>
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
	<!-- Primary Nav -->
	 <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
		<a href="/" class="pa3 no-underline db nav-item nav-link">Home</a>

		<a href="/about" class="pa3 no-underline db nav-item nav-link">About</a>

		<a href="/take-action" class="pa3 no-underline db nav-item nav-link">Take Action</a>
		 </div>
	</div>

</nav>
